@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400; 
}

h1 {
	font-size: 8em;
	font-weight: 900;
	text-transform: uppercase;
}
h2 {
	font-size: 7.5em;
	font-weight: 900;
}
h3 {
	font-size: 3.5em;
	font-weight: 900;
}
h4 {
	font-size: 1.8em;
	font-weight: 900;
}
h5 {
	font-size: 24px;
	font-weight: 900;
	line-height: 1.1em;
}
h6 {
	font-size: 20px;
	font-weight: 900;
	line-height: 1.1em;
}

.navbar {
	background-color: #3de2da !important;
}
.navbar-default {
	border-color: #3de2da !important;
}
.navbar-brand {
	padding: 0 20px 10px !important;
}
.navbar-brand img {
	width: 80px;
	height: 80px;
}
.nav {
	font-size: 1.6em;
}
.navbar-default .navbar-nav > li > a {
	color: white;
	text-align: center;
	line-height: 25px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 12px;
}
.shop-btn a{
	font-size: 0.9em;
	display: inline-block;
	color: white;
	padding: 10px 30px 7px;
	border: 3px solid white;
	border-radius: 2em;
	background-color: rgba(255, 114, 143, 0.9);
	transition: all .3s ease;
}

.video-wrapper {
	margin-top: -140px;
	margin-bottom: 10%;
}

.hello-description {
	margin-top: 200px;
}
.char-spec {
	margin-top: 5%;
	padding-top: 3%;
	border-top: 3px solid #86cec5;
}
.big-greetings {
	padding-top: 2%;
}
.big-greetings h2, h3{
	color: #3de2da;
}
.big-greetings p {
	font-size: 1.3em;
	font-weight: 900;
	color: #86cec5;
}
.hammie-blocks {
	margin-top: 10%;
	text-align: center;
}
.hammie-blocks h3{
	color: black;
}
.color-green {
	color: #2fb2bc;
}
.hammie-blocks p {
	padding-top: 5%;
	font-size: 1.3em;
	font-weight: 900;
	color: #86cec5;
}
.hammie-blocks img {
	width: 100%;
}
.product-description h3{
	font-style: inherit;
	font-weight: 400;
	font-size: 70px;
	line-height: 75%;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 1px;
}

.product-description h6 {
	font-style: inherit;
	font-weight: 400;
	font-size: 17px;
	color: #0a0a0a;
	text-align: center;
	line-height: 1.66em;
	padding-top: 10 0 0 0px;
}
.playing-description p{
	font-style:inherit;
	font-size: 18px;
	font-weight: 400;
	line-height: 75%;
	color: #333;
	text-align: center;
	line-height: 1.66em;
	padding-top: 10 0 2 0px;
}

.building-with-description {
	padding-top: 5%;
	padding-left: 5%;
}
.building-with-p {
	padding-top: 10%;
}
.building-with-p p{
	text-align: ju
}
.building-with-img img{
	width: 100%;
}
.coding-with-description {
	padding-top: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
.coding-with-p {
	padding-top: 10%;
}
.coding-with-p p{
	text-align: justify;
}
.coding-with-img img {
	width: 100%;
}
.more-orange-btn {
	font-size: 1.1em;
	display: block;
	padding: 5px 3px 5px 3px;
	width: 120px;
	text-align: center;
	color: #f99426 ;
	border: 2px solid #f99426;
	border-radius: 2em;
	transition: all .3s ease;
}
.more-orange-btn:hover {
	font-size: 1.1em;
	color: black;
	background-color: #f99426 ;
}
.more-blue-btn {
	font-size: 1.1em;
	display: block;
	padding: 5px 3px 5px 3px;
	width: 120px;
	text-align: center;
	color: #0983B2;
	border: 2px solid #0983B2;
	border-radius: 2em;
	transition: all .3s ease;
}
.more-blue-btn:hover {
	font-size: 1.1em;
	color: black;
	background-color: #0983B2;
}
















.meet-hammie-wrapper {
	width: 100%;
	margin: auto 0;
	height: 360px;
	background: URL(https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/15589621_1798399847093477_1092704647170781368_n.jpg?oh=2afe8b27e486a1f57074e3ef3c64387e&oe=597A6DA2) center center no-repeat;
	background-size: cover;
}
.meet-hammie-wrapper .hammie-logo {
	display: block;
	width: 100px;
	margin: auto;
	padding-top: 60px;
}
.meet-hammie-wrapper h2 {
	font-size: 1.6em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.meet-hammie-wrapper h4 {
	font-size: 1.4em;
}
.meet-hammie-wrapper h2, h4 {
	color: #eee;
	text-align: center;
	margin-top: 0.8em;
}
.shop-pink-btn {
	font-size: 1.5em;
	display: block;
	padding: 10px 0px 12px;
	width: 190px;
	margin: 35px auto;
	background-color: #39cdce;
	text-align: center;
	color: white;
	border-radius: 2em;
	transition: all .3s ease;
}
.shop-pink-btn:hover {
	background-color: pink;
}
.philosophy-wrapper img{
	width:100%;
	height: 400px;
}
.advantage .container-advantage {
	background-color: #ffdd1c;
	background-image: url(images/pattern.jpg);
	background-repeat:repeat-x;
}
.container-advantage {
	padding: 0px 15px 0px 15px;
	margin: auto;

}

.advantage-img {
	width: 180px;
	height: 150px;
	display: block;
	margin: auto;
}
.advantage-description {
	text-align: center;
	margin-top: -15px;
	margin-right: 20px;
	color: #2fb2bc;
}
.advantage-description h4 {
	color: #2fb2bc;	
}
.advantage-description p {
	font-size: 1.4em;
	color: #2fb2bc;
}
.package-picture-img {
	width: 100%;
	height: 400px;
}
.order {
	margin-top: 100px;
	margin-bottom: 200px;
}
.order-description {
	margin-top: 100px;
}
.img-mainlogo {
	width: 200px;
}
footer.hm-footer {
	background: #86cec5;
	border-top: 4px solid #ffdd1c; }
footer.hm-footer .about {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 1170px;
	text-align: center; }
footer.hm-footer .about p {
	font-size: 13px;
	color: #696969;
	margin-top: 30px; }
footer.hm-footer .about .social-media {
	margin-top: 15px; }
footer.hm-footer .about .social-media ul li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	font-size: 16px;
	color: #ffdd1c;
	border: rgba(255, 255, 255, 0.3); }
footer.hm-footer .about .social-media ul li a:hover {
	background: #ffdd1c;
	color: #fff;
	border-color: #ffdd1c; }
footer.hm-footer .footer-info-single {
	margin-top: 30px; }
footer.hm-footer .footer-info-single .title {
	color: #505050;
	text-transform: uppercase;
	font-size: 16px;
	border-left: 4px solid #ffdd1c;
	padding-left: 5px; }
footer.hm-footer .footer-info-single form input{
	height: 35px;
	width: 450px;

}	
footer.hm-footer .footer-info-single form button{
	line-height: 31px;
    font-size: 1.1em;
    border-radius: 8px;
    background-color: #ffdd1c;
}
footer.hm-footer .footer-info-single ul li a {
	display: block;
	color: #696969;
	padding: 2px 0; }
footer.hm-footer .footer-info-single ul li a:hover {
	text-decoration: none;
	color: #ffdd1c; }
footer.hm-footer .footer-info-single p {
	font-size: 13px;
	line-height: 20px;
	color: #696969; }
footer.hm-footer .copyright {
	margin-top: 5px;
	background: #86cec5;
	padding: 5px 0;
	color: #696969; }
footer.hm-footer .copyright p {
	text-align: center;
	margin: 0;
	padding: 0; 
}
footer.subscribe-input {
	font-size: 14px;
	width: 350px;
}



